
body{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('bgc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 200vh;
	color:white;
	font-size: 20px;
	font-family: 'Flamenco';
	}

.heading{
	font-family: 'Flamenco';
	font-size: 27px;
	color:#bf55ec;

}
h1{
	color: white;
	font-family: 'Flamenco', cursive;
	margin-top: 60px;
	font-size: 40px;
}
#Address{
	 border-radius: 14px;
    background: white;
}
#Order{
	 border-radius: 14px;
    background: white;
}
#name{
	 border-radius: 10px;
    background: white;
    height: 20px;
    width:230px;
}
#phoneno{
	 border-radius: 10px;
    background: white;
    height: 20px;
    width:230px;
}
form{
	margin-left: 150px; 
}
#Debit{
	margin-left: 255px;
}
#Netbanking{
	margin-left: 255px;
}
#upi{
	margin-left: 255px;
}
#Cash{
	margin-left: 255px;
}
