body{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('bgc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 150vh;
	color: white;
	font-size: 22px;
}
div{margin-top: 90px;
	margin-left: 30px;
	margin-right: 30px;
	font-family: 'Flamenco', cursive;
	float: right;
}
.centered {
  position: absolute;
  top: 4.5%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: 'Flamenco', cursive;
  font-size: 50px;
  font-weight: bolder;
  color: black;
}
img{
	opacity:0.5;
}
.heading{
	font-size: 40px;
}
table, th, td {
  border: 1px solid white;
}